*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  width: 100%;
  display: flex;

  justify-content: flex-start;

  position: absolute;
}

.home {
  width: 100%;
  height: 100vh;
  background: #282828;

  display: flex;
  justify-content: space-between;
}

span{
  color: salmon;
}

.teste{
  display: flex;
  flex-direction: column;
}
